@model DsSpeeds.Models.People.PersonModel

@{
    ViewBag.Title = "Person Details";
}

<h2>@(Model.ReadModel.FirstName) @(Model.ReadModel.LastName)</h2>

<ul>
    <li>UserName: @(Model.ReadModel.UserName)</li>
    <li>Name: @(Model.ReadModel.FirstName) @(Model.ReadModel.LastName)</li>
</ul>


@Html.Partial("SpeedList", Model.SpeedList)