@model Read.Models.SpeedReadModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.SpeedInMilesPerHour MPH by @Model.PilotName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpeedInMilesPerHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpeedInMilesPerHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PilotName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PilotName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WitnessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WitnessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVerified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVerified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteCountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteCountryName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.LocationCountryName)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.LocationCountryName)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</p>
